<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.doctor.DoctorListActivity" />
        <activity android:name=".ui.appointment.AppointmentListActivity" />
        <activity android:name="com.kevin.proyectomovileskch.ui.appointment.AddAppointmentActivity" />
        <activity android:name=".ui.images.ImageListActivity" />
        <activity android:name=".ui.profile.PatientProfileActivity" />
        <activity android:name=".ui.message.MessageActivity" />
        <activity android:name=".ui.call.CallingActivity" />
        <activity android:name=".ui.AddImagesActivity" />
        <activity android:name=".ui.MonitorActivity" />
        <activity android:name=".ui.HealthTipsActivity" />
        <activity android:name=".ui.ChatHistoryActivity" />
        <activity android:name=".ui.CallHistoryActivity" />
        <activity android:name=".ui.doctor.DoctorCrudActivity" />
        <activity android:name=".ui.patient.PatientCrudActivity" />
        <activity android:name=".ui.appointment.AppointmentCrudActivity" />



    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
